$bgColor: rgb(154, 78, 0);

@import "fonts";
@import "reset";
@import "stage";

body {
    background: $bgColor;
    font-family: 'SuperMarioWebFont', Fallback, sans-serif;
    color: #333;
    margin: 0;
}

/*#test {
	position: absolute;
	top: 100;
	left: 100;
	width: 40;
	height: 20;
	background-color: white;
	font-family: 'lksjdfkj', Fallback, sans-serif;
}*/

#coins {
	position: absolute;
	font-size: 22px;
	text-align: center;
	left: 287px;
	top: 264px;
	width: 22px;
	height: 22px;
	background-color: black;
}

#buttonText {
	position: absolute;
	font-size: 16px;
	text-align: center;
	left: 138px;
	top: 319px;
	width: 230px;
	height: 22px;
	color: yellow;
	background-color: black;
}

#lifeText {
	position: absolute;
	font-size: 16px;
	text-align: left;
	left: 143px;
	top: 348px;
	width: 220px;
	height: 22px;
	background-color: black;
}

#lifes {
	position: absolute;
	font-size: 22px;
	text-align: center;
	left: 364px;
	top: 345px;
	width: 22px;
	height: 22px;
	background-color: black;
}
