@font-face {
  font-family: 'SuperMarioWebFont';
  src: url("/assets/super-mario-bros--3-webfont.eot");
  /* IE9 Compat Modes */
  src: url("/assets/super-mario-bros--3-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/super-mario-bros--3-webfont.woff") format("woff"), url("/assets/super-mario-bros--3-webfont.ttf") format("truetype"), url("/assets/super-mario-bros--3-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

.stage {
  background-image: url("/images/backdrop.png");
  position: absolute;
  width: 512px;
  height: 480px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.box {
  background: white;
  background-image: url("/images/states.png");
  background-size: 40px;
  position: absolute;
  width: 40px;
  height: 40px; }

#box1 {
  left: 172px;
  top: 188px; }

#box2 {
  left: 236px;
  top: 188px; }

#box3 {
  left: 300px;
  top: 188px; }

.cherry {
  background-position: 0px 0px; }

.enemy {
  background-position: 0px -40px; }

.veggie {
  background-position: 0px -80px; }

.star {
  background-position: 0px -120px; }

.cherryAnimationClass {
  animation: cherryAnimation 0.3s steps(1) 11; }

.enemyAnimationClass {
  animation: enemyAnimation 0.3s steps(1) 13; }

.veggieAnimationClass {
  animation: veggieAnimation 0.3s steps(1) 17; }

@keyframes cherryAnimation {
  0% {
    background-position: 0px 0px; }

  25% {
    background-position: 0px -40px; }

  50% {
    background-position: 0px -80px; }

  75% {
    background-position: 0px -120px; } }

@keyframes enemyAnimation {
  0% {
    background-position: 0px -40px; }

  25% {
    background-position: 0px -80px; }

  50% {
    background-position: 0px -120px; }

  75% {
    background-position: 0px 0px; } }

@keyframes veggieAnimation {
  0% {
    background-position: 0px -80px; }

  25% {
    background-position: 0px -120px; }

  50% {
    background-position: 0px 0px; }

  75% {
    background-position: 0px -40px; } }

body {
  background: #9a4e00;
  font-family: 'SuperMarioWebFont', Fallback, sans-serif;
  color: #333;
  margin: 0; }

/*#test {
	position: absolute;
	top: 100;
	left: 100;
	width: 40;
	height: 20;
	background-color: white;
	font-family: 'lksjdfkj', Fallback, sans-serif;
}*/
#coins {
  position: absolute;
  font-size: 22px;
  text-align: center;
  left: 287px;
  top: 264px;
  width: 22px;
  height: 22px;
  background-color: black; }

#buttonText {
  position: absolute;
  font-size: 16px;
  text-align: center;
  left: 138px;
  top: 319px;
  width: 230px;
  height: 22px;
  color: yellow;
  background-color: black; }

#lifeText {
  position: absolute;
  font-size: 16px;
  text-align: left;
  left: 143px;
  top: 348px;
  width: 220px;
  height: 22px;
  background-color: black; }

#lifes {
  position: absolute;
  font-size: 22px;
  text-align: center;
  left: 364px;
  top: 345px;
  width: 22px;
  height: 22px;
  background-color: black; }
